.aText {
    font-family: sans-serif;
    font-size: 16px;
    text-anchor: middle;
}

.active {
    font-weight: bold;
    fill: rgb(0, 0, 0);
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive:hover {
    fill: #000;
    cursor: pointer;
}


/* font size dependent on radius, see app.js */

.yearText {
    font-family: sans-serif;
    /* fill: #fff; */
    fill: black;
    font-weight: bold;
    text-anchor: middle;
}

.yearCircle {
    fill: #1ED760;
    stroke: #1ED760;
}

.chart {
    display: block;
    margin: 0;
}

.d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

hr {
    border-color: white;
}


/* Mobile Rules */

@media screen and (max-width: 530px) {
    .stateText {
        display: none;
    }
    .aText {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .aText {
        font-size: 13px;
    }
}