.tooltip {
    position: absolute;
    width: 135px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #551aaf;
    border: 0;
    border-radius: 10px;
}

.axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.5;
}

.my-success {
  color: #1ED760;
}

.my-success:focus, .my-success:hover{
  color: #1ED760 ;
  background-color: #18aa4c;
}

.btn-success {
  color:#fff;
  background-color:#1ED760;
  border-color:#1ED760
}

.btn-success:hover{
  color:#fff;
  background-color:#1bc156;
  border-color:#18aa4c   
}

.btn-success.focus{
  color:#fff;
  background-color:#1bc156;
  border-color:#18aa4c;
  box-shadow:0 0 0 .2rem rgba(102,201,136,.5)}

.table-success,.table-success>td,.table-success>th{
  background-color:#c3f7d5
}

.table-success tbody+tbody,.table-success td,.table-success th,.table-success thead th{
  border-color:#a0f2bd} 

.table-hover .table-success:hover{
  background-color:#b1f4c9}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th{
  background-color:#b1f4c9}

.line {
    fill: none;
    stroke-width: 2px;
  }
  
  .green {
    stroke: #1ED760;
  }

  .mintgreen {
    stroke: #c3f0c8
  }

  .purple {
    stroke: #af2896;
  }

  .blue {
    stroke: #2d46b9;
  }

  .lightblue {
    stroke: #007aff
  }

  .yellow {
    stroke: #ffc864;
  }

  .pink {
    stroke: #f573a0;
  }

  .red {
    stroke: #eb1e32;
  }

  .legend {
    height: 300px; 
    float: right;
 }

 .right {
  float: right;
}

.ufo-form {
  margin-top: 50px;
}
 */
.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}
 */
select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table thead {
    display: none;
  }

  #table tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table tr td:last-child {
    margin-bottom: 20px;
  }

  #table tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table td {
    font-size: 1.25em;
  }

  #table tbody td {
    display: block;
    text-align: center;
  }

  #table tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}